
body{
    background-color: gray;
}
.home-img{
    height: 3cm;
    width: 2cm;
}
.home-div{
    margin: 1cm;
}
.home-link{
    font-family: 'Shadows Into Light', cursive;
}
.no-border{
    border: white;
}
.title{

    font-family: 'Yellowtail', cursive; margin-right: 9mm;
    font-size: 17mm;
}
.marg{
    margin-top: 5mm;
    
}

.ali-r{
    text-align: right;
}